<app-my-header name="Лабораторна робота №4"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-title size="large">Завдання</ion-title>
    Завдання 1. Скласти програму з абстрактним батьківським класом і двома
    обєктами – нащадками.
    Реалізувати циклічне виведення параметрів обєктів, використовуючи
    поліморфний контейнер -
    масив обєктів базового класу (кількість обєктів; = 5)
    Завдання 2. Виконати обрахунки відповідно до варіанту
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-input type="number" value="3" #Inputn></ion-input>
      <ion-button (click)="ras(Inputn.value)">Розрахунок</ion-button>
      <p class="result" *ngFor="let tr of transtport">{{tr.show()}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>