<ion-header>
  <ion-toolbar>
    <ion-title>Лабораторна робота №3</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав студент групи КН-32 Грицов Я.О.</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title> Лабораторні роботи </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-title size="large">Завдання</ion-title>
    Завдання 1. Скласти програму з абстрактним батьківським класом і двома
    обєктами – нащадками.
    Реалізувати циклічне виведення параметрів обєктів, використовуючи
    поліморфний контейнер -
    масив обєктів базового класу (кількість обєктів; = 5)
    Завдання 2. Виконати обрахунки відповідно до варіанту
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-input type="number" value="3" #Inputn></ion-input>
      <ion-button (click)="ras(Inputn.value)">Розрахунок</ion-button>
      <p class="result" *ngFor="let tr of transtport">{{tr.show()}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>