<ion-header>
  <ion-toolbar>
    <ion-title>Лабораторна робота №1</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав студент групи КН-32 Грицов Я.О.</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content :fullscreen="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Завдання №2 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="p_background">
        На заданому проміжку чисел [a,b] підрахуйте добуток чисел, кратних 7 і
        менших, ніж 30.
      </p>
      <ion-item>
        <ion-label position="floating">Початок</ion-label>
        <ion-input
          class="input"
          type="number"
          id="a"
          value="0"
          #InputA
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Кінець</ion-label>
        <ion-input
          class="input"
          type="number"
          id="b"
          value="10"
          #InputB
        ></ion-input>
      </ion-item>
      <ion-button class="button" (click)="arr(InputA.value,InputB.value)"
        >Розрахунок</ion-button
      >
      <ion-item>
        <p>Резульятат обчислення {{d}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
