<app-my-header name="Лабораторна робота №3"></app-my-header>

<ion-content :fullscreen="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Читання данних з JSON файлу </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="blcok" (click)="load();">Завантажити</ion-button>

      <ion-list *ngIf="loadClicked">
        <ion-item>
          <ion-item>
            <ion-label>
              Введіть дату виходу:
            </ion-label>
          </ion-item>
          <ion-input type="month" presentation="month" id="date" #Inputdate>
          </ion-input>
        </ion-item>
        <ion-item button *ngFor="let item of data; index as i" detail
          (click)="toggleDetails(i)">
          <ion-label *ngIf="!showDetails[i]" text-wrap
            [ngStyle]="{'background-color':checkDate(Inputdate.value,item)?'rgba(42, 218, 42, 0.473)':''
            }">
            <p>Назва: {{item.name}}
              Дата виходу: {{item.date}}</p>
          </ion-label>
          <ion-text *ngIf="showDetails[i]"
            [ngStyle]="{'background-color':checkDate(Inputdate.value,item)?'rgba(42, 218, 42, 0.473)':''}">
            <p>Назва: {{item.name}}
            </p>
            <p>Дата виходу: {{item.date}}
            </p>
            <p>Кількість сторінок: {{item.pageCount}}</p>
            <p>Номер: {{item.number}}</p>
          </ion-text>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
